@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/months/months.css);
@import url(../blocks/month/month.css);

.columns {
    display: flex;
    margin: 87px auto 80px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .column__scroll {
    width: 9px;
    height: 65px;
    background: #818181;
    border-radius: 5px;
    margin: 12px 5px 0 0;
  }
  .column__task {
    width: 340px;
    height: 536px;
    background: #c4c4c4;
    margin-right: 12px;
    overflow: scroll;
    overflow-x:hidden;
  }
  .column__task:nth-child(3) {
    margin-right: 0;
  }